body {
    background-color: #f0f0f0
}

.logo a:hover, .logo a:focus {
    color: #859bb1 !important
}

.mso .layout-has-border {
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd
}

.mso .layout-has-bottom-border {
    border-bottom: 1px solid #bdbdbd
}

.mso .border, .ie .border {
    background-color: #bdbdbd
}

.mso h1, .ie h1 {
}

.mso h1, .ie h1 {
    font-size: 36px !important;
    line-height: 43px !important
}

.mso h2, .ie h2 {
}

.mso h2, .ie h2 {
    font-size: 22px !important;
    line-height: 31px !important
}

.mso h3, .ie h3 {
}

.mso h3, .ie h3 {
    font-size: 18px !important;
    line-height: 26px !important
}

.mso .layout__inner, .ie .layout__inner {
}

.mso .footer__share-button p {
}

.mso .footer__share-button p {
    font-family: Ubuntu, sans-serif
}